<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>

<body class="hold-transition sidebar-mini">
	
	<!-- div para spinner de carga de pagina -->
	<div id="contenedor_carga">
  		<div id="carga">
  		</div>
  	</div>

<div class="wrapper">

  <header th:replace="/layout/layout ::header"></header>

  <aside th:replace="/layout/layout ::menulateral" class="main-sidebar sidebar-dark-primary elevation-4"></aside>

  <!-- INICIO CONTENIDO -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     <div th:replace="/layout/layout ::mensajes"></div>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">            
            <h1><span class="m-0 badge badge-pill badge-dark">Procesar Pacientes Internos</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li th:text="${titulo}" class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- TOOLBAR BOTONES -->
			<div class="content-header py-0">
			  <div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<!-- Toolbar Botones -->
						<div class="btn-toolbar" role="toolbar">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group btn-group-sm" role="group">
									<a class="btn btn-primary" th:href="@{/formpersonajuridica}" data-toggle="tooltip" data-placement="top" title="Nuevo" role="button">
										<i class="fas fa-plus fa-lg mt-1"></i>
									</a>																		
								</div>																									
							</div>
						</div>
					  </div>					  				
					</div>
				</div>
			</div>
			
	<!-- Linea Separadora Botones - Contenido Principal -->
	<div class="form-group col-12 mt-0 mb-0">
            <hr>
    </div>	
    

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row"><!-- CONTENIDO DESDE AQUI-->
        
        <p>PROBANDO 1 2 3 </p>
                
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- FIN CONTENIDO -->

 <!-- Main Footer -->
  <footer th:replace="/layout/layout ::footer" class="main-footer"></footer>
</div>
<!-- ./wrapper -->

<div th:replace="/layout/layout ::scripts"></div>

<script>
$(document).ready(function() {
    $('#datatablelistaprocedimientopatologia').DataTable( {
    	"columnDefs": [
            { "width": "0.4%", "targets": [0,2,3] },
            { "width": "10%", "targets": [5] },
            { "width": "15%", "targets": [1] },
            { "width": "30%", "targets": [4] },
            { "width": "10%", "targets": [6] }
            
        ],        
        "pageLength": 25,
    	"order": [],    	
    	"language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nada Encontrado - Lo sentimos!",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "search": "Buscar",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            
            
            "paginate": {
            	      "previous": "Anterior",
            	      "first": "Primera",
            	      "last": "Última",
            	      "next": "Siguiente"
            	    }
        },        
    	"pagingType": "full_numbers",    	
    } );
} );
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip();	
</script>
<script>
$('#modal-eliminar-personajuridica').on('show.bs.modal', function (e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    $('#modal-eliminar-personajuridicaId').val($(this).find('.btn-ok').attr('href'));
});
</script>

<script>
	window.onload = function(){
		let contenedor = document.getElementById('contenedor_carga');
		contenedor.style.visibility = 'hidden';
		contenedor.style.opacity = '0';
	}
</script>
</body>
</html>
