<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>

<body class="hold-transition sidebar-mini">

	<!-- div para spinner de carga de pagina -->
	<div id="contenedor_carga">
  		<div id="carga">
  		</div>
  	</div>

<div class="wrapper">

  <header th:replace="layout/layout ::header"></header>

  <aside th:replace="layout/layout ::menulateral" class="main-sidebar sidebar-dark-primary elevation-4"></aside>

  <!-- INICIO CONTENIDO -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     <div th:replace="layout/layout ::mensajes"></div>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">            
            <h1><span class="m-0 badge badge-pill badge-dark">Certificados</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li th:text="${titulo}" class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    
   			<!-- TOOLBAR BOTONES -->
			<div class="content-header py-0">
			  <div class="container-fluid">
				<div class="row">
					<!-- Toolbar Botones Derecho-->
					  <div class="col-sm-12">			
						<div class="btn-toolbar float-right" role="toolbar">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group btn-group-sm" role="group">									
									<a class="btn bg-gradient-primary" th:href="@{/indexestadistica}" data-toggle="tooltip" data-placement="top" title="Regresar" role="button">
										<i class="fas fa-arrow-circle-left fa-lg mt-1"></i>
									</a>
								</div>																									
							</div>
						</div>
					  </div>						  				
					</div>
				</div>
			</div>
        

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row"><!-- CONTENIDO DESDE AQUI-->
        
        	<div class="col-md-12 mt-3">
            <div class="card card-primary card-outline animacion">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-boxes"></i>
                  Modulos
                </h3>
              </div>
              <div class="card-body pad table-responsive">                 
                	<div class="row">
                	
                		<!-- MODULOS --> 					    
					    <div class="col-md-3">
					    	</figure>
							<figure class="snip1166 navy">
							  <img src="dist/img/certificado.jpg" alt="certificado"/>
							  <figcaption>
							    <h3>Certificado</h3>
							    <div>
							      <p></p>
							    </div><a th:href="@{/certificadoestadistica}"></a>
							  </figcaption>
							</figure>					    
					    </div>					    
					    
					    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ESTADISTICA')" class="col-md-3">
					    	</figure>
							<figure class="snip1166 navy">
							  <img src="dist/img/cargar.jpg" alt="cargar"/>
							  <figcaption>
							    <h3>Cargar</h3>
							    <div>
							      <p>Serial CSV</p>
							    </div><a th:href="@{/certificadocsvform}"></a>
							  </figcaption>
							</figure>					    
					    </div>	   
					    
				    </div><!-- /.row -->          
              </div>         
            </div><!-- /.card -->
          </div>      			    
			             
        </div><!-- /.row -->
        
        
        <!-- INFORMACION CANTIDAD DE CERTIFICADOS -->
        <div class="row mt-2">
          <div class="col-md-3"></div>	
          <div class="col-md-3 offset-md-6">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-info-circle"></i>
                  Certificados Disponibles
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="callout callout-danger">
                  <h5>Certificados De Defunción <span th:text=${defuncion} class="badge badge-danger"></span></h5>                  
                </div>
                
                <div class="callout callout-success">
                  <h5>Certificados Nacido Vivo <span th:text=${nacidovivo} class="badge badge-success"></span></h5>                  
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>       
        
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- FIN CONTENIDO -->

 <!-- Main Footer -->
  <footer th:replace="layout/layout ::footer" class="main-footer"></footer>
</div>
<!-- ./wrapper -->

<div th:replace="layout/layout ::scripts"></div>
<script>
	window.onload = function(){
		let contenedor = document.getElementById('contenedor_carga');
		contenedor.style.visibility = 'hidden';
		contenedor.style.opacity = '0';
	}
</script>
</body>
</html>
