<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>

<body class="hold-transition sidebar-mini">

	<!-- div para spinner de carga de pagina -->
	<div id="contenedor_carga">
  		<div id="carga">
  		</div>
  	</div>

<div class="wrapper">

  <header th:replace="layout/layout ::header"></header>

  <aside th:replace="layout/layout ::menulateral" class="main-sidebar sidebar-dark-primary elevation-4"></aside>

  <!-- INICIO CONTENIDO -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     <div th:replace="layout/layout ::mensajes"></div>
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">            
            <h1><span class="m-0 badge badge-pill badge-dark">Certificados</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li th:text="${titulo}" class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    
   			<!-- TOOLBAR BOTONES -->
			<div class="content-header py-0">
			  <div class="container-fluid">
				<div class="row">
					<!-- Toolbar Botones Derecho-->
					  <div class="col-sm-12">			
						<div class="btn-toolbar float-right" role="toolbar">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group btn-group-sm" role="group">									
									<a class="btn btn-primary" th:href="@{/indexestadistica}" data-toggle="tooltip" data-placement="top" title="Regresar" role="button">
										<i class="fas fa-arrow-circle-left fa-lg mt-1"></i>
									</a>
								</div>																									
							</div>
						</div>
					  </div>						  				
					</div>
				</div>
			</div>
        

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row"><!-- CONTENIDO DESDE AQUI-->        
        
        	<div class="container">
			  <div class="row">
			    <div class="col-md-2 grow">
			      <a id="link" th:href="@{/certificadoestadistica}">
			      <div class="card-counter primary">			      	
			        <i class="fas fa-certificate"></i>			        
			        <span class="count-name">Certificado</span>
			      </div>
			      </a>
			    </div>		    
			    		
			    
			    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ESTADISTICA')" class="col-md-2 grow">
			      <a id="link" th:href="@{/certificadocsvform}">
			      <div class="card-counter danger">			      	
			        <i class="fas fa-upload"></i>			        
			        <span class="count-name">Cargar Serial CSV</span>
			      </div>
			      </a>
			    </div>		    			    
			
			  		    			    
			  </div><!-- /.row-card -->
			</div><!-- /.container-card -->            
        </div><!-- /.row -->
        
        
        <!-- INFORMACION CANTIDAD DE CERTIFICADOS -->
        <div class="row mt-2">
          <div class="col-md-4"></div>	
          <div class="col-md-4 offset-md-4">
            <div class="card card-default">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-info-circle"></i>
                  Certificados Disponibles
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="callout callout-danger">
                  <h5>Certificados De Defunción</h5>
                  <p><h4><span th:text=${defuncion} class="badge badge-danger"></span></h4></p>
                </div>
                
                <div class="callout callout-success">
                  <h5>Certificados Nacido Vivo</h5>
                  <p><h4><span th:text=${nacidovivo} class="badge badge-success"></span></h4></p>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        
        
        
        
        
        
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- FIN CONTENIDO -->

 <!-- Main Footer -->
  <footer th:replace="layout/layout ::footer" class="main-footer"></footer>
</div>
<!-- ./wrapper -->

<div th:replace="layout/layout ::scripts"></div>
<script>
	window.onload = function(){
		let contenedor = document.getElementById('contenedor_carga');
		contenedor.style.visibility = 'hidden';
		contenedor.style.opacity = '0';
	}
</script>
</body>
</html>
