<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout ::head"></head>

<body class="hold-transition sidebar-mini">

	<div id="contenedor_carga">
  		<div id="carga">
  		</div>
  	</div>

<div class="wrapper">

  <header th:replace="layout/layout ::header"></header>

  <aside th:replace="layout/layout ::menulateral" class="main-sidebar sidebar-dark-primary elevation-4"></aside>  
    
  <!-- INICIO CONTENIDO -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">     
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">            
            <h1><span class="m-0 badge badge-pill badge-dark">Página Principal</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
              <li th:text="${titulo}" class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <h5 class="section-title h1">HOSPITAL UNIVERSITARIO SAN JOSE - POPAYAN</h5>
        <div class="row"><!-- CONTENIDO DESDE AQUI-->                 
          <!-- MISION -->            
            <div id="team" class="col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card animacion">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="dist/img/mision.png" alt="mision"></p>
                                    <h4 class="card-title">MISION</h4>                             
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Misión</h4>
                                    <p class="card-text">Ofrecemos servicios de salud de alta complejidad, seguros y humanizados, apoyados en procesos de docencia e investigación, con estabilidad financiera y responsabilidad social.</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- VISION -->            
            <div id="team" class="col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card animacion">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="dist/img/vision.png" alt="vision"></p>
                                    <h4 class="card-title">VISION</h4>                             
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Visión</h4>
                                    <p class="card-text">Ser una institución acreditada en salud, lider de la red pública de Departamento del Cauca en la prestación de servicios complementarios, con enfoque en la atención segura y humanizada al usuario y su familia</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- VALORES -->            
            <div id="team" class="col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card animacion">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="dist/img/valores.png" alt="valores"></p>
                                    <h4 class="card-title">VALORES</h4>                             
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Valores</h4>
                                    <p class="card-text">Honestidad, respeto, confidencialidad, responsabilidad, solidaridad.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
          
          
       
          
          
          
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- FIN CONTENIDO -->

 <!-- Main Footer -->
  <footer th:replace="layout/layout ::footer" class="main-footer"></footer>
</div>
<!-- ./wrapper -->
<div th:replace="layout/layout ::scripts"></div>
</body>
</html>
