<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout ::head"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
	
	<!-- div para spinner de carga de pagina -->
	<div id="contenedor_carga">
  		<div id="carga">
  		</div>
  	</div>

  <header th:replace="layout/layout ::header"></header>

  <aside th:replace="layout/layout ::menulateral" class="main-sidebar sidebar-dark-primary elevation-4"></aside>

  <!-- INICIO CONTENIDO -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
     
     <!--  ESTOS DIV ME PERMITEN MOSTRAR LOS DIFERENTES MENSAJES DE ACCION  	-->  	
  	  <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>  	
	  <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
	  <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
	  <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
     
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">            
            <h1><span class="m-0 badge badge-pill badge-dark">Pendientes</span></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li th:text="${titulo}" class="breadcrumb-item active"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- TOOLBAR BOTONES -->
			<div class="content-header py-0">
			  <div class="container-fluid">
				<div class="row">
				
					<!-- Toolbar Botones Izquierdo-->					
					<!-- Toolbar Botones Derecho-->
					  <div class="col-sm-12">			
						<div class="btn-toolbar float-right" role="toolbar">
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group btn-group-sm" role="group">									
									<a class="btn bg-gradient-primary" th:href="@{/indexmipres}" data-toggle="tooltip" data-placement="top" title="Regresar" role="button">
										<i class="fas fa-arrow-circle-left fa-lg mt-1"></i>
									</a>
								</div>																									
							</div>
						</div>
					  </div>						  				
					</div>
				</div>
			</div>
		
		<!-- Linea Separadora -->
    	<hr>         
		
    	
    	<!-- Div para colocar los botones de exportacion y busqueda-->
	
		<div class="col-md-8">
			<div class="btn-group">
		        <div id="botonxls" class="ml-2 mb-1">
		        </div>         
		   </div>
		</div>	   	
    	

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row"><!-- CONTENIDO DESDE AQUI-->
        
         <div class="col-md-12">
	         <div class="card animacion">
		         <div class="card-body">		         	
			         <table id="datatablelistaentrega" class="table table-striped table-sm table-bordered table-hover table-condensed" style="width: 100%">
			         	<thead>
				         	<tr>
					         	<th>PRESCRIPCION</th>
					         	<th>FECHA ENTREGA</th>					         	
					         	<th>TIPO DOCUMENTO</th>
					         	<th>NUMERO DOCUMENTO</th>
					         	<th>PACIENTE</th>
					         	<th>TECNOLOGIA</th>
					         	<th>NUMERO FACTURA</th> 					         	
					         	<th>ID ENTREGA</th>
					         	<th>ID TRAZA</th>
					         	<th>ID REPORTE ENTREGA</th>
					         	<th>ID REPORTE FACTURACION</th>
					         	<th class="text-center align-middle">E</th>
					         	<th class="text-center align-middle">RE</th>
					    		<th class="text-center align-middle">RF</th>
					         	      						         	
				         	</tr>
			         	</thead>
			         	<tbody>			         		
				         	<tr th:each="lentrega: ${listentrega}">
					         	<td th:text="${lentrega.numeroPrescripcion}" class="align-middle"></td>					         	
					         	<td th:text="${#dates.format(lentrega.fechaEntrega, 'dd-MM-yyy')}" class="align-middle"></td>					         	
					         	<td th:text="${lentrega.comTipoDocumentoMipres.descripcion}" class="align-middle"></td>
					         	<td th:text="${lentrega.genPacien.pacNumDoc}" class="align-middle"></td>
					         	<td th:text="${lentrega.genPacien.pacPriNom +' '+ lentrega.genPacien.pacSegNom +' '+ lentrega.genPacien.pacPriApe +' '+ lentrega.genPacien.pacSegApe}" class="align-middle"></td>
					         	<td th:text="${lentrega.comTipoTecnologia.descripcion}" class="align-middle"></td>
					         	<td th:text="${lentrega.numeroFactura}" class="align-middle"></td>					         						         	
					         	<td th:text="${lentrega.idEntregaMipress}" class="align-middle"></td>
					         	<td th:text="${lentrega.idTraza}" class="align-middle"></td>
					         	<td th:text="${lentrega.idReporteEntregaMipress}" class="align-middle"></td>
					         	<td th:text="${lentrega.idFacturacionMipress}" class="align-middle"></td>
					         	<td class="text-center align-middle">					         	
					         		<!-- BOTONES DE ENTREGA -->
					         		<div th:if="${lentrega.procesadoEntrega eq false}" class="d-inline">
						         		<a class="btn bg-gradient-danger btn-sm"  th:href="@{/entregaform(id=${lentrega.id})}" data-toggle="tooltip" data-placement="top" title="Entrega" role="button">
											<i class="fas fa-exclamation-circle fa-sm"></i>
										</a>												         		
									</div>
									
									<div th:if="${lentrega.procesadoEntrega eq true}" class="d-inline fontawesowe">
						         		<a class="btn bg-gradient-success btn-sm disabled" data-toggle="tooltip" data-placement="top" title="Entrega" role="button">
											<i class="fas fa-thumbs-up fa-sm"></i>
										</a>												         		
									</div>
								</td>
								<td class="text-center align-middle">	
									<!-- BOTONES DE REPORTE ENTREGA -->
									<div th:if="${lentrega.procesadoEntrega eq true and lentrega.procesadoReporteEntrega eq false}" class="d-inline">
						         		<a class="btn bg-gradient-danger btn-sm"  th:href="@{/reporteentregaform(id=${lentrega.id})}" data-toggle="tooltip" data-placement="top" title="Reporte Entrega" role="button">
											<i class="fas fa-exclamation-circle fa-sm"></i>
										</a>												         		
									</div>
					         	
					         		<div th:if="${lentrega.procesadoReporteEntrega eq true}" class="d-inline fontawesowe">
						         		<a class="btn bg-gradient-success btn-sm disabled" data-toggle="tooltip" data-placement="top" title="Reporte Entrega" role="button">
											<i class="fas fa-thumbs-up fa-sm"></i>
										</a>												         		
									</div>																						         	
					         	</td>
					         	
					         	<td class="text-center align-middle">	
									<!-- BOTONES DE REPORTE FACTURACION -->
									<div th:if="${lentrega.procesadoReporteEntrega eq true and lentrega.procesadoFacturacion eq false}" class="d-inline">
						         		<a class="btn bg-gradient-danger btn-sm"  th:href="@{/reporteentregaformeee(id=${lentrega.id})}" data-toggle="tooltip" data-placement="top" title="Reporte Facturación" role="button">
											<i class="fas fa-exclamation-circle fa-sm"></i>
										</a>												         		
									</div>
					         	
					         		<div th:if="${lentrega.procesadoFacturacion eq true}" class="d-inline fontawesowe">
						         		<a class="btn bg-gradient-success btn-sm disabled" data-toggle="tooltip" data-placement="top" title="Reporte Entrega" role="button">
											<i class="fas fa-thumbs-up fa-sm"></i>
										</a>												         		
									</div>																						         	
					         	</td>
					         	
					         					         		         					         						         						         	
					     	</tr>
			         	</tbody>	         	
			         </table>			        
		         </div>
	         </div>
         </div>           
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- FIN CONTENIDO -->

 <!-- Main Footer -->
  <footer th:replace="layout/layout ::footer" class="main-footer"></footer>
</div>
<!-- ./wrapper -->

<div th:replace="layout/layout ::scripts"></div>

<script>
$(document).ready(function() {
    var table = $('#datatablelistaentrega').DataTable( {
    	"pageLength": 100,
    	"responsive": true,
    	"order": [],    	
    	"pagingType": "full_numbers",
    	dom: 'Blfrtip',    	
    	 "buttons": {
             "dom": {
                "button": {
                  "tag": "div",
                  "className": "flexcontent"
                },
                buttonLiner: {
					tag: null
                }                    
             },
             "buttons": [

            	 {
                     extend:    'excelHtml5',
                     text:      '<i class="fas fa-file-excel"></i>Exportar',
                     /*title:'Titulo de tabla en excel',*/
                     titleAttr: 'Exportar Excel',
                     className: 'btn btn-app export excel',
                     exportOptions: {
                         columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                     }                     
                 },

                 ]   
          },
          "language": {
              "lengthMenu": "Mostrar _MENU_ registros por página",
              "zeroRecords": "Nada Encontrado - Lo sentimos!",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "search": "Buscar",
              "infoEmpty": "No hay registros disponibles",
              "infoFiltered": "(filtrado de _MAX_ registros totales)",
              
              
              "paginate": {
              	      "previous": "Anterior",
              	      "first": "Primera",
              	      "last": "Última",
              	      "next": "Siguiente"
              	    }
          },
            
    
    } );
    table.buttons().container().appendTo( '#botonxls' );     
} );
</script>

</body>
</html>
